.meeting-detail-container {
    width: 80%;
    margin: 0 auto;
}

/* 모임 뒤로가기, 공유 */
.meeting-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .625rem;
}
.meeting-detail-name{
    display: flex;
    align-items: center;
}
.meeting-detail-name img{
    width: 20px;
    height: auto;
    border: none;
    margin-right: .625rem;
    cursor: pointer;
}
.meeting-detail-sharing{
    width: 20px;
    height: auto;
    border: none;
    margin-right: .3125rem;
    cursor: pointer;
}

/* 미팅 메뉴 */
.tab-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: .625rem;
    border-bottom: .0625rem solid #ccc;
}

.tab-button {
    flex: 1;
    padding: .625rem 1.25rem;
    border: none;
    background-color: #E6E6E6;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}
.tab-button:hover {
    background-color: #000;
    color: #ccc;
}

.tab-button:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -0.625rem;
    top: 50%;
    transform: translateY(-50%);
    width: .0625rem;
    height: 1.25rem;
    background-color: #ccc;
}

.tab-button.active {
    background-color: #fff;
}

/* 홈 */
.meeting-detail-body {
    display: flex;
    flex-direction: column;
}

.meeting-detail-in {
    display: flex; /* 수평으로 배치 */
    flex-direction: row; /* 두 개의 영역을 수평으로 나열 */
    margin-bottom: 1.25rem; /* 아래쪽 여백 추가 */
    gap: .625rem;
}

/* 모임 사진 */
.meeting-detail-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel img {
    width: 100%;
    height: 37.5rem;
    object-fit: cover;
    display: none;
    border-radius: .625rem;
}

.carousel img.active {
    display: block; /* 활성화된 이미지만 표시 */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #ccc;
    cursor: pointer;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
}
.carousel-button:hover{
    background-color: transparent;
    color: #000;
    border: none;
}

/* 모임 정보 */
.meeting-detail-right {
    padding: 1.25rem;
    flex: 2;
    border: .0625rem solid #ccc;
    border-radius: .625rem;
}

.board-more-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.more-options {
    align-self: flex-end;
    padding-right: 10px;
    position: relative;
}

.meeting-detail-btn {
    display: flex;
    justify-content: space-between;
    gap: .625rem;
    margin-top: auto;
}

.meeting-detail-btn button {
    flex: 1; /* 버튼들이 균등한 너비를 가지도록 설정 */
    padding: .625rem 1.25rem;
    cursor: pointer;
    border-radius: .3125rem;
    text-align: center;
}

.meeting-detail-btn button:hover {
    background-color: #000;
    color: #fff;
}

.carousel-button.left {
    left: .625rem;
}

.carousel-button.right {
    right: .625rem;
}

/* 모임 수정 삭제 */
.button-box {
display: flex;
width: 6.25rem;
flex-direction: column;
position: absolute;
top: 32px;
right: 0;
background-color: white;
border: 1px solid #ccc;
border-radius: 10px;
padding: 10px;
z-index: 1000;
}

.more-button {
border: none;
cursor: pointer;
width: 20px;
}

.bordered-div {
    border: .0625rem solid #ccc; /* Add border */
    padding: .625rem; /* Add some padding for better appearance */
    border-radius: .3125rem; /* Optional: Add rounded corners */
    margin-bottom: .625rem; /* Add some space between elements */
}

.meeting-detail-right h1 {
    font-size: 1.6em;
    margin-bottom: .5rem;
}

.meeting-detail-right p {
    font-size: 1em;
    margin-bottom: .3125rem;
}

.meeting-detail-right button {
    padding: .625rem 1.25rem;
        border-radius: .25rem;
    cursor: pointer;
}

.meeting-detail-right button:hover {
    background-color: #000;
    color: #fff;
}

/* 모임 설명 */
.meeting-detail-description {
    margin: 1.25rem 0;
    padding-top: 1.25rem;
    border-top: .0625rem solid #ddd;
    font-size: 1.1em;
}

.meeting-detail-content{
    width: 100%;
    height: 18.75rem;
    border: .0625rem solid #ccc;
    border-radius: .625rem;
    padding: .625rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meeting-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .3125rem;
    margin-top: .625rem;
}

.tag {
    padding: .3125rem .625rem;
    border: .0625rem solid #ccc;
    border-radius: 1.875rem;
    background-color: #f9f9f9;
    font-size: 0.9em;
}

/* 모임 참가 요청 목록 모달 */
.profile-info img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin-right: .625rem;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: .625rem;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: .5rem;
    max-width: 37.5rem;
    width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .625rem;
}

.modal-header h2 {
    margin: 0;
}

.modal-body {
    max-height: 25rem;
    overflow-y: auto;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.25rem;
}

.modal-footer button {
    margin-left: .625rem;
}

/* 모임 홈 끝 */

/* 게시판 */
.meeting-board-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.meeting-board-add-btn{
    width: 12.5rem;
    padding: .625rem 1.25rem;
    border-radius: .5rem;
    align-self: flex-end;
}

.meeting-board-add-btn:hover{
    background-color: #000;
    color:#fff;
}

.meeting-board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem 1.25rem;
    border-bottom: .125rem solid #ccc;
    font-weight: bold;
}

.header-item {
    flex: 1;
    text-align: center;
}

/* 게시물이 없을 때 메시지 스타일 */
.no-posts-message {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    margin-top: 1.25rem;
}

/* 게시물 */
.board-list-content {
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.meeting-board-item {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: .9375rem 1.25rem;
    background-color: #ddd;
    border: .0625rem solid #ddd;
    border-radius: .25rem;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    justify-content: space-between;
}

.board-list-profile-image {
    width: 3.125rem !important;
    height: 3.125rem;
    border: .0625rem solid #ccc;
    border-radius: 50%;
}

.item-img,
.item-title,
.item-nickname,
.item-date {
    flex: 1;
    text-align: center;
    margin: 0;
}

.meeting-board-item:hover {
    transform: translateY(-0.3125rem);
}

/* 사진첩 */
.requests-list {
    padding: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px .8ox rgba(0, 0, 0, 0.1);
    height: 300px;
}

.board-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container:hover .board-image {
    transform: scale(1.1);
}
