#user-profile-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.user-profile-container {
    width: 100%;
    height: 300px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-profile-image-box {
    margin-bottom: 20px;
}

.user-profile-image {
    width: 100px; /* Adjust the size as needed */
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.user-profile-info-box {
    text-align: center;
}

.user-profile-info-nickname {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-profile-info-email {
    font-size: 18px;
    color: #555;
}

.user-profile-image {
    width: 100px; /* Adjust the size as needed */
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.user-profile-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.user-profile-button > div {
    flex: 0 1 30%; /* Ensure each button takes up roughly 30% of the container width */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; /* Add space between rows */
    cursor: pointer;
}

.user-profile-button > div:not(:last-child) {
    border-right: 1px solid #ccc; /* Add border between buttons */
}

.user-profile-button > div:nth-child(3n) {
    border-right: none; /* 마지막 열 제외한 모든 열에 오른쪽 선 추가 */
}

.heart-icon, .group-icon, .board-icon, .star-icon, .chat-icon, .setting-icon {
    width: 60px; /* Adjust the size as needed */
    height: 60px;
    border: none;
}

.heart-text, .group-text, .board-text, .star-text, .chat-text, .setting-text {
    margin-top: 5px;
    font-size: 14px; /* Adjust the size as needed */
}

.favorite-item > span {
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.favorite-item {
    width: 90%;
    padding: 20px;
    margin: 10px 0;
    transition: transform 0.3s;
    background-color: #E6E6E6;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.favorite-item:hover {
    transform: translateY(-5px);
}

.board-list-close-botton {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.board-list-close-botton:hover {
    background-color: white;
    color: black;
}

.favorite-list-title {
    margin-bottom: 30px;
    margin-left: 10px;
}