body, html {
    height: 100%;
    overflow: hidden; /* 스크롤을 없애고 한 화면에 꽉 채우기 */
}

.chat-room {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

.messages {
    overflow-y: auto;
    flex: 1;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.sender {
    justify-content: flex-end;
}

.message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word; /* 긴 단어가 올바르게 줄바꿈되도록 */
    overflow-wrap: break-word; /* 긴 단어가 올바르게 줄바꿈되도록 */
    box-sizing: border-box; /* 패딩과 보더를 포함하여 크기를 계산 */
}

.message-container {
    display: flex;
    width: 100%;
}

.message-content.receiver {
    margin-left: 50px;
}

.sender .message-content {
    background-color: white;
    align-self: flex-end;
    margin-left: auto; /* 오른쪽 정렬 */
    word-wrap: break-word; /* 긴 단어가 올바르게 줄바꿈되도록 */
    overflow-wrap: break-word; /* 긴 단어가 올바르게 줄바꿈되도록 */
}

.receiver .message-content {
    background-color: white;
    margin-right: auto; /* 오른쪽 여백 없애기 */
    word-wrap: break-word; /* 긴 단어가 올바르게 줄바꿈되도록 */
    overflow-wrap: break-word; /* 긴 단어가 올바르게 줄바꿈되도록 */
}

.text {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.timestamp {
    font-size: 0.8em;
    color: gray;
    margin-left: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.profile-info img {
    width: 30px; /* 사진의 너비를 30px로 설정 */
    height: 30px; /* 사진의 높이를 30px로 설정 */
    border-radius: 50%; /* 원형으로 만들기 위해 반지름을 50%로 설정 */
    margin-right: 10px; /* 텍스트와 사진 사이의 간격 설정 */
}

.message-user-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column; /* 메시지 내용을 닉네임 아래에 배치 */
}

.message-header {
    display: flex;
    align-items: center; /* 프로필 사진과 닉네임을 수평으로 배치 */
    margin-bottom: 5px; /* 닉네임과 메시지 내용 사이의 간격 설정 */
}

.message-body {
    display: flex;
    align-items: center; /* 메시지 내용과 시간을 수평으로 배치 */
}

.message-text {
    margin-top: 5px; /* 프로필 사진과 메시지 내용 사이의 간격 설정 */
}

.message-time {
    font-size: 0.8em;
    color: gray;
    margin-left: 10px; /* 메시지와 시간 사이의 간격 설정 */
    align-self: center; /* 시간 텍스트를 수직 가운데 정렬 */
}

.input-container {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-top: 10px;
    width: 100%; /* 전체 너비 사용 */
}

.chat-room input {
    width: 80%; /* 적절한 너비 설정 */
    height: 30px; /* 높이 조정 */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 0 0 30px; /* 여백 제거 */
}

.chat-room button {
    height: 50px; /* 버튼 높이 설정 */
    width: 90px; /* 버튼 너비를 작게 설정 */
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer;
    outline: none;
    margin-left: 10px; /* 간격 유지 */
}

.chat-room button:hover {
    background-color: white;
    color: black;
}
