/*전체 축제 목록*/
#festival-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
/*카테고리*/
.festival-list-filter-container{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

/* 개별 카테고리 */
.festival-list-filter {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.festival-list-filter:hover {
    background-color: #000000;
    color: white;
}

/* 축제 목록 헤더 */
.festival-list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 개별 헤더 항목 */
.festival-list-header > div {
    flex: 2;
    text-align: center;
}

.festival-list-header > div:last-child {
    flex: 1; /* 찜 칸은 비율 줄이기 */
}

/* 축제 목록*/
.festival-list-content-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*개별 축제 항목*/
.festival-list-content {
    width: 100%;
    padding: 20px 0;
    margin: 10px 0;
    transition: transform 0.3s;
    background-color: #E6E6E6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.festival-list-content:hover {
    transform: translateY(-5px);
}

/*각 축제 항목의 제목*/
.festival-list-content-title {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    flex: 2;
    text-align: center;
}

.festival-list-content-title:hover {
    text-decoration: underline;
}

/* 주소와 날짜, 별점, 찜 */
.festival-list-content div {
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.festival-list-content div:last-child {
    flex: 0.5; /* 찜 칸 비율 줄이기 */
}

/* 별점 */
.festival-list-content-stars {
    display: flex;
    align-items: center;
    /* flex: 1; */
    justify-content: center;
}

.fas.fa-star,
.fas.fa-star-half-alt,
.far.fa-star {
    margin: 0 2px; /* 별표 아이콘 사이의 간격 조정 */
    font-size: 1.2rem; /* 별표 아이콘 크기 조정 */
}