.inquire-list {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
.posts-zero{
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
}

.back-button img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border: none;
}

/* 목록 헤더 */
.inquire-list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.inquire-list-header div,
.post p {
  flex: 1; /* 동일한 비율로 공간 차지 */
  text-align: center; /* 중앙 정렬 */
}
.posts-zero{
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}

.post {
  width: 100%;
  border-radius: 10px;
  padding: 15px 0;
  margin: 10px 0;
  background-color: #E6E6E6;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.post:hover {
  transform: translateY(-5px);
}

.post p:nth-child(3) {
  font-weight: bold;
  cursor: pointer;
}

.pagination-box{
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-size: 20px;
}