.notice-list {
    width: 80%;
    margin: 0 auto;
}

.notice-list h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.notice-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notice-search-container img{
    width: 1.25rem;
    height: auto;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.notice-search-input[type="text"] {
    width: 200px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    box-sizing: border-box;
    vertical-align: middle;
}
.notice-write-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.notice-write-button{
    width: 63px;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
    height: 36px;
}

.notice-search-btn {
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    border: 1px solid #000;
    cursor: pointer;
    height: 36px;
    margin-left: -1px;
    vertical-align: middle;
}

.notice-search-btn:hover {
    background-color: #000;
    color: #fff;
}

/* header */
.notices{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.notice-header {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    margin: 20px 0;
}

.notice-header > div {
    width: 150px;
    text-align: center;
}

.notice-content-item{
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    justify-content: space-between;
}

.notice-content-item > div {
    width: 150px;
    text-align: center;
}

.notice-content-item:hover {
    transform: translateY(-5px);
}

.notice-content-non {
    width: 100%;
    height: 76px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(0, 0, 0, 0.4);

    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
}