.review-update-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

.review-update-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.update-write {
    margin-bottom: 20px;
    padding: 20px;
}

.review-update-label {
    font-size: 1.2rem;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.review-update-content {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 20px;
}

input[type="file"] {
    font-size: 1rem;
    margin-bottom: 20px;
}

i.fas.fa-star, i.far.fa-star {
    font-size: 2rem;
    margin-right: 5px;
    transition: color 0.3s ease;
}

i.fas.fa-times-circle {
    font-size: 1.5rem;
    color: gray;
}

review-update-btn {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

review-update-btn:hover {
    background-color: #000;
    color: #fff;
}

review-update-btn i.fas.fa-times-circle:hover {
    color: red;
}

review-update-img {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.review-update-container .image-preview-container {
    display: flex;
    flex-wrap: wrap;
}

.review-update-container .image-preview-container div {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.review-update-container .image-preview-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.review-update-container .image-preview-container button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
