.board-write-container{
    width: 80%;
    margin: 0 auto;
}

.board-write-container p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.board-write-list{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.board-write-list input[type="text"],
.board-write-list textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    overflow: auto;
}

.board-write-list textarea {
    height: 100px;
    resize: none;
    box-sizing: border-box;
}

.board-write-list input[type="file"] {
    margin-bottom: 20px;
}

.board-write-list button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-center;
}

.board-write-list button:hover {
    background-color: #000;
    color: #fff;
}

.board-write-list img {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.board-write-list .fa-times-circle {
    font-size: 1.2rem;
    color: gray;
}

.board-write-list .fa-times-circle:hover {
    color: red;
}

.board-write-list .image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
}

.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-preview {
    position: relative;
    width: 100px;
    margin-bottom: 10px;
}

.image-preview img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.image-preview button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
.image-preview button:hover {
    background: none;
    border: none;
}
