.meeting-list-container {
    width: 80%;
    margin: 0 auto;
}

.meeting-list-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.meeting-list-write-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.meeting-list-write-btn button {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.meeting-list-write-btn button:hover {
    background-color: #000;
    color: #fff;
}

.meeting-list-header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.meeting-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ccc;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    justify-content: space-between;
}

.meeting-item:hover {
    transform: translateY(-5px);
}

.meeting-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.image-slider {
    flex-shrink: 0;
}

.meeting-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .meeting-list-container {
        width: 95%;
    }

    .meeting-list-write-btn {
        justify-content: center;
    }

    .meeting-list-write-btn button {
        width: 100%;
        padding: 10px;
    }

    .meeting-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .meeting-title {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }

    .meeting-image {
        width: 100%;
        height: auto;
    }
}