.meeting-list-container {
    width: 80%;
    margin: 0 auto;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
}

.pagination-wrapper button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-wrapper button.active {
    background-color: #007bff;
    color: white;
}

.pagination-wrapper button:disabled {
    cursor: not-allowed;
    background-color: #e9ecef;
}

.meeting-list-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.meeting-list-write-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.meeting-list-write-btn img {
    width: 1.25rem;
    height: auto;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.meeting-list-create-btn {
    width: 150px;
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.meeting-list-create-btn:hover {
    background-color: #000;
    color: #fff;
}

/* 카테고리 */
.meeting-list-categories {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
}

.meeting-list-category {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    /* 수직 정렬 */
    align-items: flex-start;
}

.category-select,
.location-select {
    display: flex;
    flex-wrap: wrap;
    /* 여러 줄로 나열 */
    gap: 10px;
    margin-top: 10px;
    /* 제목과 약간의 간격 추가 */
}

.category-option,
.location-option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
}

.meeting-list-category .category-select,
.meeting-list-category .location-select {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.meeting-list-category .category-select,
.meeting-list-category .location-select,
.meeting-list-category .search-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.meeting-list-category .category-option,
.meeting-list-category .location-option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
}

.meeting-list-category .category-option:hover,
.meeting-list-category .location-option:hover {
    background-color: #f0f0f0;
}

/* 선택된 카테고리 */
.category-option.selected {
    background-color: #000;
    color: white;
}

.category-option.selected:hover {
    background-color: #000;
    color: white;
}

.category-search-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
}

.category-search-input {
    width: 230PX;
    padding: 10px;
    border-radius: 8px;
}

.category-search-content {
    display: flex;
    flex-wrap: nowrap;
    /* 아이템들을 한 줄로 나열 */
    overflow-x: auto;
    /* 수평 스크롤 가능 */
    gap: 10px;
    /* 아이템 사이의 간격 */
}

.category-search-content div {
    display: flex;
    align-items: center;
    background-color: #000;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
}

.category-search-content span {
    cursor: pointer;
    margin-left: 5px;
}

/* 카테고리 끝 */

.meeting-list-header {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    margin: 20px 0;
}

.meeting-list-header>div {
    width: 150px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.meeting-item {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    justify-content: space-between;
}

.meeting-item>div {
    width: 150px;
    text-align: center;
}

.meeting-item:hover {
    transform: translateY(-5px);
}

.meeting-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.image-slider {
    flex-shrink: 0;
}

.meeting-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 100%) {
    .meeting-list-container {
        width: 100%;
    }

    .meeting-list-write-btn {
        justify-content: center;
    }

    .meeting-list-write-btn button {
        width: 100%;
        padding: 10px;
    }

    .meeting-item {
        grid-template-columns: 1fr;
    }

    .meeting-title {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }

    .meeting-image {
        width: 100%;
        height: auto;
    }
}

.no-meetings-message{
    width: 100%;
    height: 76px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(0, 0, 0, 0.4);

    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
}